.edit-container h2 {
    border-bottom: 1px solid rgb(160, 156, 156);
    margin: 0 0 0px !important;
}
.edit-popup {
    padding: 2px 10px 0px 10px;
}
.clear-icon {
    position: relative;
    left: 735px;
    top: -40px;
    cursor: pointer;
}
.upload-img-bg img {
    height: 35vh;
    width: 15vw;
}
.edit-content-form-field mat-label {
    display: block;
    font-weight: 500;
}
.submit-button {
    float: right;
}
.mt-10 {
    margin-top: 10px;
}