.edit-container h2 {
    margin: 0 10px 30px !important;
    font-size: 25px;
}

.edit-container {
    background-color: var(--site-background);
    padding: 2% 4% 3.9%;
    min-height: 100vh;
}

.edit-content-form-field mat-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
}

.submit-button {
    float: right;
    margin-right: 30px;
}

.mt-10 {
    margin-top: 10px;
}

.edit-content-form-field .mat-form-field {
    width: 100%;
}