<div class="viewcategory-container">
    <div class="view-category">
      <div class="search-category">
        <button mat-raised-button color="primary" class="newcategory-btn" (click)="addUser()">New User</button>
      </div>
      <div class="header">
        <table id="view-table">
          <thead class="table-header">
            <th class="first">
              <input type="checkbox" class="example-margin">
            </th>
            <th class="content">User Name</th>
            <th class="content">Role Name</th>
            <th class="content">Status</th>
            <th class="content">Action</th>
          </thead>
          <tbody>
            <tr *ngFor = "let data of allUser">
              <td class="first">
                <input type="checkbox" class="example-margin">
              </td>
              <td>{{data.user_login}}</td>
              <td>{{data.role_name}}</td>
              <td>{{data.user_status == 1 ? "Active" : "Inactive"}}</td>
              <td><mat-icon (click)="editUser(data)">edit</mat-icon>
                <mat-icon>delete</mat-icon>
                <mat-icon>add</mat-icon>
              </td>
            </tr>
          </tbody>
          <ng-template #elseblock>
            <tbody>
              <tr>
                <td colspan="6" class="text-center" style="color: black;">
                  No record Found
                </td>
              </tr>
            </tbody>
        </ng-template>
        </table>
      </div>
        
    </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  