.add-tag-form .add-tag-form-field .tag-info {
    display: block;
    margin-bottom: 3px;
    font-size: 15px;
}
.category-container{
    width: auto;
    height: 450px;
}
.submit-button-container{
    float: right;
}
.image-size img{
    height: 150px;
    width: 150px;
}