<div class="viewcategory-container">
    <div class="view-category">
      <div class="search-category">
        <button mat-raised-button color="primary" class="newcategory-btn" (click)="addSupplimentPages()">New</button>
      </div>
      <div class="header">
        <table id="view-table">
          <thead class="table-header">
            <!-- <th class="first">
              <input type="checkbox" class="example-margin">
            </th> -->
            <th class="content">Action</th>
            <th class="content">Title</th>
            <th class="content">Alias</th>
          </thead>
          <tbody>
            <tr>
              <!-- <td class="first">
                <input type="checkbox" class="example-margin">
              </td> -->
              <td>Action</td>
              <td>Title
              </td>
              <td>Alias</td>
            </tr>
          </tbody>
          <ng-template #elseblock>
            <tbody>
              <tr>
                <td colspan="6" class="text-center" style="color: black;">
                  No record Found
                </td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>
    </div>
  </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    