<div class="blue-line"></div>
<nav class="navbar navbar-expand-lg navbar-light navbar-bg">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href=""><i class="fa-solid fa-house"></i> <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Bhubaneswar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Khordha</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Angul</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Balasore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Cuttack</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Panikoili</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Jeypore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">KBK</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Kendrapada</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Kendujhar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Mayurbhanj</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Puri</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Rourkela</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Sambalpur</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="">Berhampur</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="" role="button" data-toggle="dropdown" aria-expanded="false">
          Magazine
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="">Siksha</a>
          <a class="dropdown-item" href="">Rabibar</a>
          <a class="dropdown-item" href="">Swasthya</a>
          <a class="dropdown-item" href="">Dharma</a>
          <a class="dropdown-item" href="">Juhar</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link blink" href="/categories/video-category">English News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link blink" href="/categories/video-category">Odia News</a>
      </li>
    </ul>
  </div>
</nav>