<div class="marg-bot">
  <img class="prameya-header-logo" src="assets/img/prameyaHeader.png" />
</div>
<div class="marg-bot">
  <app-header></app-header>
</div>

<div class="home-ad-container">
  <div id="carouselExampleControls1" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item"  class="active">
        <img class="d-block w-100" src='assets/img/cover4.jpg'>
      </div>
    </div>
  </div>
</div>
<div class="home-container">
  <div class="heading"><h1>Featured Categories</h1></div>
  <div class="category-container">
    <div class="row" *ngFor = "let data of catarr">
      <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>{{data.category_name}}</h1>
          </div>
          <div class="epaper-container">
            <img [src]="data.ads_image" />
          </div>
        </div>
      </div>
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Cuttack</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Panikoili</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Balasosre</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Sambalpur</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Rourkela</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Berhampur</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Jeypore</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Angul</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
      <!-- <div class="col-md-3 col-sm-6 col-12">
        <div>
          <div class="category-name">
            <h1>Puri</h1>
          </div>
          <div class="epaper-container">
            <img src="assets/img/sample-epaper.jpeg" />
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="footer-container"><app-footer></app-footer></div>