:host::ng-deep .cdk-overlay-pane {
    position: absolute;
    pointer-events: auto;
    box-sizing: border-box;
    z-index: 1000;
    display: flex;
    max-width: 100%;
    max-height: 100%;
    width: 50vw !important;
}




@media screen and (min-width:480px) and (max-device-width:767px) {

}

@media screen and (min-device-width:768px) and (max-device-width:1024px) {

}

@media screen and (min-device-width:1025px) and (max-device-width:1280px) {}

@media screen and (min-device-width:1281px) and (max-device-width:1919px) {

}

@media screen and (min-width:1920px) and (max-device-width:2500px) {

}

@media screen and (min-width:2501px) {

}
