<div class="footer-container">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-12">
            <div class="ft-logo"><img src="assets/img/news7.jpg" class="img-fluid"></div>
        </div>
        <div class="col-md-5 col-sm-4 col-12">
            <div>
                <h1 class="footer-heading">About e-paper Prameya</h1>
                <hr class="separator">
                <p class="footer-text">The Prameya ePaper: Read digital edition
                    of The Prameya daily newspaper published
                    by Summa real Media Pvt.Ltd.. Explore the
                    advantages of The Prameya epaper</p>
            </div>
        </div>
        <div class="col-md-5 col-sm-4 col-12">
            <div>
                <h1 class="footer-heading">Connect With Us</h1>
                <hr class="separator">
                <div class="d-flex">
                    <a class="grow" target="_blank" href="https://facebook.com/prameyaodia">
                        <img class="social-icons" src="assets/img/facebook-logo.png" alt="facebook">
                    </a>
                    <a class="grow" target="_blank" href="https://facebook.com/prameyaodia">
                        <img class="social-icons" src="assets/img/twitter-logo.png" alt="facebook">
                    </a>
                    <a class="grow" target="_blank" href="https://facebook.com/prameyaodia">
                        <img class="social-icons" src="assets/img/youtube-logo.png" alt="facebook">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="credits-container">
    <p>Website Powered By <a href="https://nirmalyalabs.com/" target="_blank">Nirmalya </a></p>
</div>