<div class="container py-3" id="page-container">
    <hr>
    <div class="content">
        <div class="row my-2">
            <div class="col-md-12">
                <button class="btn btn-primary rounded-0" type="button" id="create_map_area" 
                    (click)="createAreaMap()">Create Map Area</button>
            </div>
        </div>
        <div id="fp-canvas-container">
            <img [src]="img_url" alt="Floor Plan" class='fp-img' id="fp-img" usemap="#fp-map">
            <canvas id="canvas" class="fp-canvas" width="1100" height="1700"></canvas>
        </div>
    </div>
</div>