<div  id="page-container">
    <hr>
    <div class="content">
        <div class="row my-2">
            <div class="col-md-12">
                <div class="button-wrapper">
                    <button class="btn btn-danger rounded-0" type="button" id="back"
                        (click)="backToHistory()">Back</button>
                        <div class="heading ng-star-inserted"><h1 class="mr-10">BHUBANESWAR-01-Feb 7, 2023</h1></div>
                        <!-- <div class="heading ng-star-inserted"><h1 class="mr-10">BHUBANESWAR-01-Feb 7, 2023</h1><strong class="ng-star-inserted">Page No - 1</strong>
                            <small class="ml-10">Feb 7, 2023</small></div> -->
                    <button class="btn btn-primary rounded-0" type="button" id="create_map_area"
                        (click)="createAreaMap()">+</button>
                </div>
            </div>
        </div>
        <div id="fp-canvas-container">
            <img [src]="img_url" alt="Floor Plan" class='fp-img' id="fp-img"
                [ngClass]="page_type === '0' ? 'main-image' : 'suppl-image'" usemap="#fp-map">
            <canvas id="canvas" class="fp-canvas" width="1100" height="1700"></canvas>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeDeleteModalButton" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h2>Are you sure you want to delete?
                    </h2>
                    <div class="d-flex justify-content-center flex-wrap">
                        <button mat-raised-button color="warn" class="delete-btn mr-20" (click)="cancel()"> No </button>
                        <button mat-raised-button color="primary" class="delete-btn" > Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>