<div class="heading">
    <h1>Bhubaneswar</h1>
    <small>November 10, 2022</small>
</div>

<div class="filter-container">
    <div class="row">
        <div class="col-md-2 col-sm-4 col-12">
            <input id="startDate" class="form-control" type="date" />
        </div>
        <div class="col-md-10 col-sm-8 col-12">
            <div class="pagination-container">
                <div class="d-flex align-items-center">
                    <div class="grid-modal-container">
                        <mat-icon>grid_view</mat-icon>
                    </div>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Page 1</option>
                        <option value="1">Page 2</option>
                        <option value="2">Page 3</option>
                        <option value="3">Page 4</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="epaper-container">
    <div class="row">
        <div class="col-md-2 col-sm-12 col-12">
            <div class="page-holder">
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 01</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 02</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 03</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 04</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 05</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 06</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 07</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 08</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 09</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 10</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 11</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 12</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 13</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 14</p>
                </div>
                <div class="pages">
                    <mat-icon>description</mat-icon>
                    <p>Page No - 15</p>
                </div>
            </div>
        </div>
        <div class="col-md-10 col-sm-12 col-12">
            <div class="social-icons">
                <div class="icon facebook"><i class="fa fa-facebook"></i></div>
                <div class="icon twitter"><i class="fa fa-twitter"></i></div>
                <div class="icon google"><i class="fa fa-google-plus"></i></div>
                <div class="icon linkedin"><i class="fa fa-linkedin"></i></div>
                <div class="icon print"><i class="fa fa-print"></i></div>
                <div class="icon email"><i class="fa fa-envelope"></i></div>
            </div>
            <div class="epaper">
                <img src="assets/img/epaper-full-samp.jpeg">
            </div>
            <div class="social-icons">
                <div class="icon facebook"><i class="fa fa-facebook"></i></div>
                <div class="icon twitter"><i class="fa fa-twitter"></i></div>
                <div class="icon google"><i class="fa fa-google-plus"></i></div>
                <div class="icon linkedin"><i class="fa fa-linkedin"></i></div>
                <div class="icon print"><i class="fa fa-print"></i></div>
                <div class="icon email"><i class="fa fa-envelope"></i></div>
            </div>
        </div>
    </div>
</div>