/* @import '~bootstrap/dist/css/bootstrap.css'; */

:root {
  --white: #ffffff;
  --site-background: #f4f4f4;
  --red: #911418;
  --black: #000000;
  --blue: #3f51b5;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  margin: 2% 5% 5% 5%;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


/* ----------------------upload-pages------------ */
.upload-supplement .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.3em 0 0.7em 0 !important;
}

.upload-supplement .mat-select-arrow-wrapper {
  height: 0px !important;
}

/* -----------upload-pages-------------------- */

/* ------------------------ Edit pages------------------------ */
.edit-content-form-field .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px 0 0.8em 0 !important;
}

.edit-content-form-field .mat-select-arrow-wrapper {
  height: 0px !important;
}

/* ------------------------Edit pages------------ */
/* ------------------------add-user---------------- */
.add-tag-form-field .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0px 0 0.8em 0 !important;
}

.add-tag-form-field .mat-select-arrow-wrapper {
  height: 0px !important;
}

/* -------------------------add user---------------------- */
/* ------------------------- view user-------------------- */
.view-category .mat-form-field-outline {
  background-color: var(--white) !important;
  border-top: 1px solid #897c7c;
  border-radius: 5px;
}

.view-category .search-category .mat-form-field-flex {
  height: 36px !important;
}

.view-category .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0em 0 1em 0 !important;
}

.view-category .search-category mat-form-field.form-group {
  margin-bottom: 0px !important;
}

.view-category .search-category .mat-form-field-wrapper {
  padding: 0px !important;
}

.view-category .mat-select-arrow-wrapper {
  height: 0px !important;
}

/* --------------------view user------------------- */

.add-tag-form-field .mat-form-field {
  width: 100%;
}

:host ::ng-deep .cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.white-color {
  color: white !important;
}


/* <-----------------ADD CATEGORY FORM-----------------> */
.addcategory-container .add-category-form-field .mat-form-field-flex {
  height: 40px !important;
}
.addcategory-container .add-category-form-field .mat-form-field-outline {
  background:var(--white)!important;
  border-radius: 5px;
}
.addcategory-container .add-category-form-field  .form-group{
  margin-bottom: 0rem !important;
}
.addcategory-container .add-category-form-field .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 3px 0 0 0 !important;
}

.addcategory-container .add-category-form-field .mat-select-arrow-wrapper {
  height: 8px !important;
}

.addcategory-container .add-category-form-field .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color:var(--white) !important;
}

.addcategory-container .add-category-form-field .mat-form-field-outline {
  background-color: #fdfdfd !important;
}

.addcategory-container .add-category-form-field .mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

.add-category-form .add-category-form-field mat-form-field .textarea-add-category.mat-input-element {
  background: var(--white);
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 4px;
  margin-top: -18px;
  min-height: 100px;
  width: 98%;
}

.addcategory-container .add-category-form-field .mat-form-field-appearance-legacy .mat-form-field-underline {
  display: none;
}
/* <-----------------END ADD CATEGORY FORM-----------------> */


/* <----------------- ADD AD ---------------------------> */
.addcategory-container .add-category-form-field .time-field .mat-form-field-wrapper {
  padding-bottom: 0em !important;
  border: 1px solid #dedede !important;
  border-radius: 4px !important;
}

.addcategory-container .add-category-form-field .time-field .mat-form-field-underline {
  display: none !important;
}

.addcategory-container .add-category-form-field .time-field .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0px 6px;
}

/* <----------------- END ADD AD---------------------------> */



/* Label */

.label {
  display: inline;
  padding: 0.3em 0.6em 0.3em;
  font-size: 100%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label-success {
  background-color: #5cb85c;
}

.label-info {
  background-color: #5bc0de;
}

.label-danger {
  background-color: #d9534f;
}

.label-primary {
  background-color: #428bca;
}

.label-warning {
  background-color: #f0ad4e;
}

.label-default {
  background-color: #999;
}

.disabled {
  pointer-events: none;
  opacity: .65;
}

@media screen and (min-width:280px) and (max-device-width:479px) {
  body {
      overflow-x: hidden !important;
  }
}