<div class="viewcategory-container">
    <div class="search-category">
        <button mat-raised-button color="primary"><i class="fa-solid fa-backward" style="margin-right:5px"></i>
            Back to Edition List</button>
    </div>

    <div class="upload-container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">JPG Upload</a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <h3> Note: File must be in jpg,png or gif format. Maximum file is 50M</h3>
                <div class="upload-supplement">
                    <mat-label class="tag-info">Supplementary</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="0">None</mat-option>
                            <mat-option value="1">None</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="upload-search">
                    <button mat-raised-button class="bg-green"> [Browse...] </button>
                    <button mat-raised-button color="primary" class="start-upload">Start Upload </button>
                </div>
                <div class="upload-content">
                    <div class="img-upload">
                        <div class="row">
                            <div class="col-md-3">
    
                                <div class="upload-img-bg">
                                    <img src="assets/img/epaper-full-samp.jpeg" class="e-paper">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h4> 01</h4>
                                <div class="d-flex">
                                    <div class="search-category">
                                        <button mat-raised-button color="primary">
                                            <mat-icon>edit</mat-icon> Create Area Maps
                                        </button>
                                    </div>
                                    <div class="edit-button">
                                        <button mat-raised-button class="bg-green"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                    <div class="delete-button">
                                        <button mat-raised-button class="bg-red">
                                            <mat-icon>delete</mat-icon>
                                        </button>
    
                                    </div>
                                    <div class="gray-button">
                                        <div class="bg-gray">
                                            101.46 KB
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="upload-content">
                    <div class="img-upload">
                        <div class="row">
                            <div class="col-md-3">
    
                                <div class="upload-img-bg">
                                    <img src="assets/img/epaper-full-samp.jpeg" class="e-paper">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h4> 02</h4>
                                <div class="d-flex">
                                    <div class="search-category">
                                        <button mat-raised-button color="primary">
                                            <mat-icon>edit</mat-icon> Create Area Maps
                                        </button>
                                    </div>
                                    <div class="edit-button">
                                        <button mat-raised-button class="bg-green"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                    <div class="delete-button">
                                        <button mat-raised-button class="bg-red">
                                            <mat-icon>delete</mat-icon>
                                        </button>
    
                                    </div>
                                    <div class="gray-button">
                                        <div class="bg-gray">
                                            956.46 KB
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="upload-content">
                    <div class="img-upload">
                        <div class="row">
                            <div class="col-md-3">
    
                                <div class="upload-img-bg">
                                    <img src="assets/img/epaper-full-samp.jpeg" class="e-paper">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h4> 03</h4>
                                <div class="d-flex">
                                    <div class="search-category">
                                        <button mat-raised-button color="primary">
                                            <mat-icon>edit</mat-icon> Create Area Maps
                                        </button>
                                    </div>
                                    <div class="edit-button">
                                        <button mat-raised-button class="bg-green"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                    <div class="delete-button">
                                        <button mat-raised-button class="bg-red">
                                            <mat-icon>delete</mat-icon>
                                        </button>
    
                                    </div>
                                    <div class="gray-button">
                                        <div class="bg-gray">
                                            956.46 KB
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="upload-content">
                    <div class="img-upload">
                        <div class="row">
                            <div class="col-md-3">
    
                                <div class="upload-img-bg">
                                    <img src="assets/img/epaper-full-samp.jpeg" class="e-paper">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <h4> 04</h4>
                                <div class="d-flex">
                                    <div class="search-category">
                                        <button mat-raised-button color="primary">
                                            <mat-icon>edit</mat-icon> Create Area Maps
                                        </button>
                                    </div>
                                    <div class="edit-button">
                                        <button mat-raised-button class="bg-green"><i
                                                class="fa-solid fa-pen-to-square"></i></button>
                                    </div>
                                    <div class="delete-button">
                                        <button mat-raised-button class="bg-red">
                                            <mat-icon>delete</mat-icon>
                                        </button>
    
                                    </div>
                                    <div class="gray-button">
                                        <div class="bg-gray">
                                            956.46 KB
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
    
            </div>
        </div>
    </div>
</div>

