<div class="viewcategory-container">
    <div class="search-category">
        <button mat-raised-button color="primary" routerLink="/admin/epaper/edition"><i class="fa-solid fa-backward"
                style="margin-right:5px"></i>
            Back to Edition List</button>
        <!-- <button (click)="openModal()">Open</button> -->
    </div>
    <div class="upload-container">
        <ul class="nav nav-tabs" role="tablist">
            <!-- <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#merge-pdf" (click)="showTabSection(1)">Merge &
                    Upload PDFs</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#upload-image" (click)="showTabSection(2)">Upload
                    Images</a>
            </li>
        </ul>
        <div class="tab-content">
            <!-- <div id="merge-pdf" class="container tab-pane active" *ngIf="merge_pdf"><br>
                <div class="list-files">
                    <div class="no-files">No PDF files added</div>
                </div>
                <div style="display:none">
                    <input type="file" id="pdf-file" onChange="openfile()" name="file[]" multiple
                        accept="application/pdf">
                </div>
                <div class="center-btn">
                    <button class="btn-add" (click)="addPdf()">ADD PDF</button>
                    <button class="btn-join" onclick="joinPdf()">MERGE PDF</button>
                </div>
                <div class="center-btn">
                    <div class="row mt-20">
                        <div class="col-md-3">
                            <input type="file" #pdf_file_upload id="pdf" (change)="onUpload($event)"
                                accept="application/pdf" multiple>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-3">
                            <div class="form-group">Page Style</div>
                            <select class="form-select" [(ngModel)]="page_style">
                                <option value="0">None</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-12">
                            <button class="btn-join" [ngClass]="is_merged_pdf_upload ? 'disabled' : ''"
                                (click)=" getpdfToJpegImage()">Convert To JPEG</button>
                        </div>
                    </div>
                </div>
            </div> -->
            <div id="upload-image" class="container">
                <div class="center-btn">
                    <div class="row mt-20">
                        <div class="col-md-3">
                            <div class="form-group">Page Style</div>
                            <select class="form-select" [(ngModel)]="page_style">
                                <option value="0">None</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-10">
                        <div class="col-md-6">
                            <!-- (change)="onUploadMultipleImages($event)" -->
                            <button class="btn-browse" (click)="browseClick()">Browse</button>
                            <input type="file" #image_file_upload id="image_file_upload" style="display: none;"
                                accept="image/jpeg,image/png,image/gif" (change)="addToQueue()" multiple>
                            <button class="btn-join" [ngClass]="is_image_upload ? 'disabled' : ''"
                            (click)="uploadAll()">Start Upload</button>
                            <button class="btn-preview" [ngClass]="imgarr && imgarr.length ? '' : 'disabled'"
                            (click)="previewPublish()">Preview & Publish</button>
                        </div>
                    </div>
                    <div class="row mt-10" style="background: #fff;" *ngIf="uploadqueuediv">
                        <div class="col-md-12">
                            <h3><strong>Upload Queue</strong></h3>
                            <table class="table-headed table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th class="text-right">Size</th>
                                        <th class="text-left">Progress</th>
                                        <th class="text-left">Status</th>
                                        <th class="text-right">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of queue | async">
                                        <td>{{ item?.file?.name }}</td>
                                        <td class="text-right">
                                            {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                                        </td>
                                        <td>{{ item.progress + ' %' }}</td>
                                        <td>
                                            <span *ngIf="item.isPending()" class="label label-default">Pending</span>
                                            <span *ngIf="item.isSuccess()" class="label label-success">Success</span>
                                            <span *ngIf="item.inProgress()" class="label label-warning">Inprogress</span>
                                            <span *ngIf="item.isError()" class="label label-danger">Error</span>
                                        </td>
                                        <td class="text-right">
                                            <a tooltip="Remove from queue" (click)="item.remove()"
                                                *ngIf="!item.inProgress() && !is_response">
                                                <i class="fa fa-remove rmv-cls"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr><td colspan="6" class="text-right"><button class="btn-clear" (click)="clearAll()">Clear All</button></td></tr>
                                </tbody>
                            </table>
                            <!-- <div>
                                
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="upload-container">
        <div class="upload-content">
            <div class="sticky-div" *ngIf="imgarr && imgarr.length;"><button class="btn-join"
                    (click)="update()">Update</button></div>
            <div class="img-upload" *ngIf="imgarr && imgarr.length; else elseblock" cdkDropList #doneList="cdkDropList"
                [cdkDropListData]="imgarr" [cdkDropListConnectedTo]="[doneList]" (cdkDropListDropped)="drop($event)">
                <div class="rowbox" cdkDrag *ngFor="let data of imgarr;index as i">
                    <div class="row mb-20">
                        <div class="col-md-3">
                            <div class="upload-img-bg">
                                <a class="thumbnail" [attr.data-lightbox]="i+1" href="{{data.image_url}}"
                                    target="_blank">
                                    <img [src]="data.image_url" class="e-paper">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <h4> {{data.file_name}}</h4>
                            <div class="d-flex">
                                <div class="search-category">
                                    <button mat-raised-button color="primary"
                                        (click)="createAreaMap(data.image_id,data.image_url,data.page_type)">
                                        <mat-icon>edit</mat-icon> Create Area Maps
                                    </button>
                                </div>
                                <div class="edit-button">
                                    <button mat-raised-button class="bg-green"><i class="fa-solid fa-pen-to-square"
                                            (click)="edit(data.index,data.image_id,data.edition_id)"></i></button>
                                </div>
                                <div class="delete-button">
                                    <button mat-raised-button class="bg-red">
                                        <mat-icon data-toggle="modal" data-target="#Modal"
                                            (click)="deletePages(data.image_id)">delete</mat-icon>
                                    </button>

                                </div>
                                <div class="gray-button" *ngIf="data.image_size">
                                    <div class="bg-gray">
                                        {{data.image_size}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ng-template #elseblock>
                <tbody>
                    <tr>
                        <td colspan="6" class="text-center" style="color: black;">
                            No data Found
                        </td>
                    </tr>
                </tbody>
            </ng-template>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeModalButton" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="upload-img">
                        <div class="upload-btn">
                            <input type="radio" name="imgType" class="tocheck" value="original">
                            <img src="assets/img/cover4.jpg" id="media_img_id" class="media-img">
                        </div>
                        <div class="upload-btn second">
                            <input type="radio" name="imgType" class="tocheck" value="compressed">
                            <img src="assets/img/cover4.jpg" id="media_img_id" class="media-img">
                            <p>*image after compressed</p>
                        </div>
                    </div>
                    <div class="upload-btn">
                        <button mat-raised-button class="compress-btn">Compress Image</button>
                        <button mat-raised-button color="primary" class="save-image">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="Modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeDeleteModalButton" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <h2>Are you sure you want to delete?
                    </h2>
                    <div class="d-flex justify-content-center flex-wrap">
                        <button mat-raised-button color="warn" class="delete-btn mr-20" (click)="cancel()"> No </button>
                        <button mat-raised-button color="primary" class="delete-btn" (click)="pageDelete()"> Yes
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rangemodal" tabindex="-1" role="dialog" aria-labelledby="rangemodal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" id="closeRangeModalButton" class="close" data-dismiss="modal" aria-label="Close"
                    (click)="closeRangeModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div>
                    <div class="row" *ngIf="success_url && success_url.length > 0">
                        <div class="col-md-12"><span class="modal-span">Succeeded Images</span></div>
                    </div>
                    <div class="scroll-y" id="style-4" *ngIf="success_url && success_url.length > 0">
                        <div class="row" *ngFor="let a of success_url">
                            <div class="col-md-6"><span class="success-span">{{a}}</span></div>
                            <div class="col-md-6"><input type="range" value="100" disabled></div>
                        </div>
                    </div>
                    <div class="row" *ngIf="failed_url && failed_url.length > 0">
                        <div class="col-md-12"><span class="modal-span">Failed Images</span></div>
                    </div>
                    <div class="scroll-y" id="style-4" style="margin-top: 15px;"
                        *ngIf="failed_url && failed_url.length > 0">
                        <div class="row" *ngFor="let a of failed_url">
                            <div class="col-md-6"><span class="failed-span">{{a}}</span></div>
                            <div class="col-md-6 failed-range"><input type="range" value="100" disabled></div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center flex-wrap" style="margin-top: 10px">
                        <button mat-raised-button color="warn" class="delete-btn mr-20" (click)="closeRangeModal()">
                            Close </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>