<div class="viewcategory-container">
    <div class="search-category">
        <button mat-raised-button color="primary" routerLink="/admin/epaper/edition"><i class="fa-solid fa-backward" style="margin-right:5px"></i>
            Back to Edition List</button>
    </div>

    <div class="upload-container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home">PDF Upload</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="home" class="container tab-pane active"><br>
                <div class="list-files">
                    <div class="no-files">No PDF files added</div>
              </div>
              <div style="display:none">
                <input type="file" id="pdf-file" onChange="openfile()" multiple accept="application/pdf">
              </div>
              <div class="center-btn">
                <button  class="btn-add" (click)="addPdf()">ADD PDF</button>     
                <button  class="btn-join" onclick="joinPdf()">JOIN PDF</button>      
          </div>    
          
          
          <input type="file" id="pdf" (change)="onUpload($event)"  accept="application/pdf">
          
          <button class="btn-join" (click)=" getpdfToJpegImage()">Convert To JPEG</button>
                <!-- <h3> Note: File must be in jpg,png or gif format. Maximum file is 50M</h3> -->
                <!-- <div class="upload-supplement">
                    <mat-label class="tag-info">Supplementary</mat-label>
                    <mat-form-field appearance="outline">
                        <mat-select>
                            <mat-option value="0">None</mat-option>
                            <mat-option value="1">None</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="upload-search">
                    <button mat-raised-button class="bg-green"> [Browse...] </button>
                    <button mat-raised-button color="primary" class="start-upload">Start Upload </button>
                </div> -->
                <div class="upload-content">
                    <div class="img-upload" *ngIf = "imgarr && imgarr.length; else elseblock">
                        <div class="row mb-20" *ngFor = "let data of imgarr;index as i">
                            <div class="col-md-3">
    
                                <div class="upload-img-bg">
                                    <img [src]= "data.image_url" class="e-paper">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4> {{i+1}}</h4>
                                <div class="d-flex">
                                    <div class="search-category">
                                        <button mat-raised-button color="primary" (click)="createAreaMap(data.image_id)">
                                            <mat-icon >edit</mat-icon> Create Area Maps
                                        </button>
                                    </div>
                                    <div class="edit-button">
                                        <button mat-raised-button class="bg-green"><i
                                                class="fa-solid fa-pen-to-square" (click)="edit(data)"></i></button>
                                    </div>
                                    <div class="delete-button">
                                        <button mat-raised-button class="bg-red">
                                            <mat-icon (click)="deletePages(data.image_id)">delete</mat-icon>
                                        </button>
    
                                    </div>
                                    <div class="gray-button" *ngIf ="data.image_size">
                                        <div class="bg-gray" >
                                           {{data.image_size}}
                                        </div>
                                    </div>
                                    <!-- <div class="compress-button">
                                        <button mat-raised-button color="primary" data-toggle="modal" data-target="#exampleModal">
                                            Compress 
                                        </button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #elseblock>
                        <tbody>
                          <tr>
                            <td colspan="6" class="text-center" style="color: black;">
                              No data Found
                            </td>
                          </tr>
                        </tbody>
                    </ng-template>
                </div>
 
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" id="closeModalButton" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
        <div>
            <div class="upload-img" >
                <div class="upload-btn" >
                    <input type="radio" name="imgType" class="tocheck"  value="original">
                    <img src="assets/img/cover4.jpg" id="media_img_id" class="media-img">
                </div>
                <div class="upload-btn second" >
                    <input type="radio" name="imgType" class="tocheck" value="compressed">
                    <img src="assets/img/cover4.jpg" id="media_img_id" class="media-img">
                    <p>*image after compressed</p>
                </div>
            </div>
            <div class="upload-btn" >
                <button mat-raised-button class="compress-btn">Compress Image</button>
                <button mat-raised-button color="primary" class="save-image">Submit</button>
            </div>
        </div>
      </div>
    </div>
  </div>
